* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    cursor: url(../assets/cursor.png), auto;
}

html {
    overflow-x: hidden;
}

body {
    /* max-width: 1440px;
    margin: auto; */
}

h2 {
    line-height: 69px;
    position: relative;
}

h2::after {
    content: '';
    width: 60px;
    border: 3px solid #E31C26;
    background: #E31C26;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

a:hover {
    color: rgb(108, 190, 119);
    transition: color 2s;
}

a::after {
    content: '';
    width: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}

a:hover::after {

    width: 35px;
    border: 1px solid #d3121c;
    background: #d3121c;
    border-radius: 10px;
    transition: width 0.35s;
}

.container {
    max-width: 1050px;
    margin: auto;
    width: 100%;
}

.btn {
    background: #E31C26;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 0;
}

.btn-center {
    display: block;
    width: 238px;
    text-align: center;
    margin: auto;
}

.arrow-center {
    display: block;
    text-align: center;
}

/* Header */
.header {
    padding-top: 50px;
    height: 790px;
    background-image: url('../assets/Photo_Banner.png'), linear-gradient(130.41deg, #8E9EB4 -48.15%, #13223C 64.12%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__navigation__list {
    list-style: none;
    display: flex;
}

.header__navigation__item {
    margin-right: 40px;
}

.header__navigation__item:last-child {
    margin-right: 0;
}
.social__links{
    
    width: max-content;
    
}
.position-social{
    left: 90%;
    top: 10%;
    position: absolute;
}
.social__links ul{
    list-style: none;
    display:flex;
    column-gap: 12px;
    align-items: center;
}
.social__links svg:hover path{
    fill: rgb(108, 190, 119);
}
.social__links svg, .social__links path{
    cursor: pointer;
}


:where(.social__links,.actual__item ) a:hover::after,
.header__navigation__logo:hover::after {
    content: '';
    border: none;
}


.header__content {
    margin-top: 150px;

}

.header__content h1 {
    max-width: 550px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
}

.header__content p {
    max-width: 550px;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.007em;
    font-style: normal;
    font-weight: 400;
}

.header__content img {
    margin-top: 17px;
    float: right;
}

/* End Header */
/* Actual */
.actual {
    margin-top: 110px;
}

.actual__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.actual__item {
    width: 325px;
    /* height: 480px; */
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 15px 34px rgba(33, 37, 106, 0.1);
    margin-bottom: 25px;
    padding-bottom: 15px;

}

.actual__item:hover {
    background: #B7D8E5;
}

.actual__item img {
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item_description {
    width: 85%;
    margin: auto;
    margin-top: 25px;

}

.item_description h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #093624;
}

.item_description p {
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #4F4F4F;
    opacity: 0.6;
}

/* End actual */
/* Organization */
.organization {
    margin-top: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.organization__content {
    max-width: 420px;
    padding-bottom: 50px;
}

.organization__content p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
}


.organization__foto {
    max-width: 555px;
    display: flex;
    flex-wrap: wrap;
}

.organization__foto img {
    border-radius: 0;
    object-fit: cover;
    max-width: 253px;
    height: 210px;
}

.organization__foto img:first-child {
    border-top-left-radius: 10px;
}

.organization__foto img:nth-child(2) {
    border-top-right-radius: 10px;
}

.organization__foto img:nth-child(3) {
    border-bottom-left-radius: 10px;
}



.join {
    max-width: 290px;
    width: 290px;
    height: 250px;
    padding: 45px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 16.0256px 36.3248px rgba(18, 87, 59, 0.25);
    border-radius: 5.34188px;


}

.join a {
    padding: 10px 15px;
}

/* End Organization */




/* Rada */
.rada {
    margin-top: 120px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.rada__img img {
    max-width: 426px;
    border-radius: 90px 10px;
    height: 447px;
    object-fit: cover;
}

.rada__content {
    max-width: 450px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rada__content p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
}

.rada__content a {
    padding: 10px 15px;
    margin-top: 10px;
}

.rada__list {
    width: 100%;
    margin-top: 20px;
}

.rada__list ul {
    list-style: none;
    margin-top: 5px;
}

.rada__list ul li {
    margin-top: 10px;
}

/* end rada */

/* Start Partners */
.partners__color {
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(68, 82, 108, 0) 58%, rgba(26, 44, 75, 1) 62%); */
}

.partners {
    margin-top: 100px;
    /* background: #F0FAF6; */
    /* background-image: url('../assets/turkus.svg'), linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(68, 82, 108, 0) 58%, rgba(26, 44, 75, 1) 62%); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 350px;
    display: flex;
    /* clip-path: url(#svgPath); */
    /* clip-path: polygon(83.2% 13%, 115.1% 66.5%, 101% 21%, 100% 71.5%, 84.3% 100%, 42.1% 91.8%, 6.9% 80%, 0% 63%, 0% 0%); */
}

.partners__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 940px;
    flex-direction: column;
}

.partners__content .slider {
    margin-top: 90px;
}

.partners__content .slider img {
    margin-left: 55px;
}

/* END Partners */
/* START PAGE PARTNERT/CONFERENCE  */

.conference{
    margin-top: 110px;
}
.conference__subtitle {
    font-size: 16px;
    line-height: 35px;


    color: #4F4F4F;
    margin: 50px auto;
}




.partner__list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}

.partner__item {
    max-width: 350px;
    width: 350px;
    height: 350px;
    background: rgb(136, 115, 115);
    text-align: center;
}


/* This container is needed to position the front and back side */
.partner__item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.partner__item:hover .partner__item-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.partner__item-front,
.partner__item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.partner__item-front {
    background-color: #bbb;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner__item-front img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

/* Style the back side */
.partner__item-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner__item-back a {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 16px 50px;
}

/* END PAGE PARTNERT/CONFERENCE */


/* page project */
.project {
    margin-top: 80px;
}

.project__title {
    width: max-content;
    margin: auto;
}

.project__item {
    max-width: 1035px;
    height: 450px;
    display: flex;
    align-items: center;
    background: #F0FAF6;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    margin-top: 106px;
}
.project__item a{
    color: #0A1322;
}

.project__item:hover {
    background: #B7D8E5;

}

.project__item img {
    max-width: 283px;
    height: 450px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.project__description {
    max-width: 655px;
    margin-left: 45px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.project__description p {

    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #4F4F4F;
}

.project__description .btn {
    padding-left: 47px;
    padding-right: 47px;
}


/* PAGE MISJA */

.team {
    height: 800px;
    background-color: #F0FAF6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Headphones_Icon.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 90%;
    margin-top: 130px;


}
section.biuro{
    background-image: url('../assets/office-buildings.svg');
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

.team__content {

    height: 620px;
}

.team__title {
    margin: auto;
    width: max-content;
}

.team__slider {
    margin-top: 50px;
    display: flex;
    height: 100%;
    /* justify-content: space-between;
    width: 100%; */
    justify-content: center;
}

.team__slider .team__people:first-child {
    margin-left: 5px;
}


.team__people {
    max-width: 227px;
    width: 227px !important;
    height: 350px;

    background: #FFFFFF;
    box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 13px solid #E31C26;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person__container {
    margin: 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person__img {
    max-width: 177.59px;
    height: 177.59px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.person__info {
    text-align: center;
}

.person__lastname {
    color: #E31C26;
}

.person__contact ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.person__contact li{
    text-align: center;
}
.person__contact a {
    color: #0A1322;
    font-size: 16px;
}


.statut {
    background-image: url('../assets/statut.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.statut__content {
    text-align: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.statut__content h2 {
    width: max-content;
    margin: auto;
}

.statut__content p {
    font-size: 20px;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
}

.statut__content a {
    padding: 16px 50px;
    width: max-content;
    margin: auto;
}

/* END PAGE MISJA */




/* FOOTER */
.svg_content {
    /* background:  linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(68, 82, 108, 0) 0%, rgba(26, 44, 75, 1) 36%); */
    max-width: 100%;

}

.svg_content img {
    width: 100%;
    height: 200px;
}

.svg_clip {
    /* clip-path: url(#svgPat); */
    /* background-color: #FFFFFF; */
    height: 100%;
    width: 100%;
}

footer {
    /* padding-top: 150px; */
    padding-bottom: 85px;
    background: linear-gradient(180deg, #1A2C4B 0%, #0A1322 75%);
    /* background-image: url('../assets/footer.png');
    background-repeat: no-repeat; */
    position: relative;
    overflow: hidden;

}



footer::after {
    content: '';
    background: url('../assets/figure.png');
    position: absolute;
    left: 80%;
    top: 50%;
    width: 403.26px;
    height: 615.83px;
    background-repeat: no-repeat;
}

.footer {
    /* background-color: #13223C; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.footer__content {
    max-width: 507px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.footer__content h2 {
    color: #FFFFFF;
}

.footer__content p {
    color: #FFFFFF;
}

.footer__map {
    z-index: 2;
}

.contact__list {
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 510px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.contact__item {
    margin-bottom: 40px;
    display: flex;
}

.contact__item img {
    object-fit: contain;
}

.contact__item:last-child {
    margin-bottom: 0;
}

.contact__item__information {
    margin-left: 16px;

}

.contact__item__information p {
    color: #093624;
    font-size: 16px;
    line-height: 124.33%;
    font-weight: 500;
}

.footer__map {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    width: max-content;
    background-color: #FFFFFF;
}

#gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 515px;
    width: 480px;
    border-radius: 10px;
}

.social-media {
    margin-top: 70px;
    color: white;
    width: 100%;
    display: inline-flex;
    align-items: center;
    column-gap: 20px;

}




/*  Customizer slider*/
.slick-track {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

.slick-slide {
    width: 230px !important;
    margin-right: 37px;
}

.slick-next,
.slick-prev {
    top: 25%;
}

.slick-next {
    right: -10%;
}

.slick-prev {

    left: -10%;
}

.slick-prev::before {
    content: url('../assets/prev.svg');
    left: -10%;
}

.slick-next:before {
    content: url('../assets/next.svg');


}